<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doutor.carangoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.IntroduçãoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_login"
            android:parentActivityName=".gui.IntroduçãoActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".gui.CadastroActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_cadastro"
            android:parentActivityName=".gui.IntroduçãoActivity"
            android:theme="@style/AppTheme"/>


    </application>

</manifest>